*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form_container{
    background-color:rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    width: 320px;
    text-align: center;
}
h2{
    color: #ffffff;
    margin: 20px 0;
}
.input_box{
    position: relative;
    margin: 20px 0;
}
.input_box input{
    width: 100%;
    padding: 12px 15px;
    background: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    outline: none;
    color: #fff;
    font-size: 18px;
    transition: 0.4s;
}
.input_box input:focus{
    border-color: #00ffff;
    box-shadow: 0 5px 15px rgba(0, 255, 255, 0.3);

}
.input_box span{
    position: absolute;
    left: 15px;
    top: 50%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    pointer-events: none;
    transition: 0.4s;
    transform: translateY(-50%);
}
.input_box input:focus + span,
.input_box input:not(:placeholder-shown) + span{
    top: 5px;
    font-size: 12px;
    color: #00ffff;
}
.submit_btn{
    background: linear-gradient(90deg, #00ffff, #00ff80);
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    color: #000;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 10px;
}
.submit_btn:hover{
    background: linear-gradient(90deg, #00ff80, #00ffff);
    box-shadow: 0 5px 15px #00ffff80;
}
.register_link{
    color: #00ffff;
    margin-top: 15px;
    font-size: 14px;
    text-decoration: none;
}
.register_link a{
    color: #5b5cb6;
    text-decoration: none;
    transition: 0.3s;
}
.register_link a:hover{
    color: #acc761;
    text-decoration: underline;
}
@media (max-width: 400px){
    .form_container{
        width: 90%;
        padding: 30px;
    }
}
.department_menu {
    position: relative;
    display: inline-block;
}
#dropdown-btn:focus + #dropdown,
#dropdown:hover {
    display: block;
}
.check_box {
    margin: 10px 0;
    color: gray;
}
.forgot_password{ color: #00ffff;
    margin-top: 15px;
    font-size: 14px;
    text-decoration: none;
}
.forgot_password a{
    color: #5b5cb6;
    text-decoration: none;
    transition: 0.3s;
}.forgot_password a:hover{
    color: #acc761;
    text-decoration: underline;
}
.usertype {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin: 10px 0;
    color: gray;
}
/* .usertype:hover {
    color: #00ffff;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
} */